* {
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
 
}
.title {
  font-weight:lighter;
  text-align: center;
  font-size:90px;
  color:#C49C9B;
}
#input {
  background-color: white;
  height: 60px;
  width: 500px;
  border: white;
  box-shadow: #dedede;
  margin: auto;
}
.box1 {
  background-color: white;
  margin: auto;
  width: 500px;
  height: 60px;
  border: none;
  display:fkex;
}

.count {
  margin-top: 0.4rem;
  background-color: white;
  padding: 1rem;
}
.count #c {
  background-color: transparent;
}
#input {
  background-color: white;
  height: 60px;
  width: 50x;
  border: white;
  background: rgba(0, 0, 0, 0.003);
  background-color: #fff;
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
}
.buttons {
  cursor: pointer;
  border: none;
  display: flex;
  background-color: white;
}
.buttons button {
  border: none;
  padding: 10px;
  font-size: 1rem;
  background-color: white;
}
.buttons button a {
  color: #757575;
  text-decoration: none;
  background-color: white;
}

#bt1 {
  border: none;
}
::placeholder {
  color: #828382;
  font-size: 20px;
  font-weight: normal;
  font-weight:600;
}
ul li{
  margin: auto;
  background-color: white;
  width:460px;
  justify-content: space-between;
  list-style-type: none;
 
}

li{
 padding:20px;

}
.tabs {
  display: flex;
  align-content: center;
  justify-content: space-between;
  background-color: white;
  margin: auto;
  width: 500px;
  margin-top: 0px;
}
#list {
  width: 500px;
  margin: auto;

  justify-content: space-between;
}

.item {
  font-size: large;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  background-color: #fff;
  color: #757575;
}
.middle {
  margin: auto;
  width: 500px;
  display: flex;
  justify-content: space-around;
  width: 500px;

  box-shadow: 0 1px 1px rgb(0 0 0 / 20%), 0 8px 0 -3px #f6f6f6,
    0 9px 1px -3px rgb(0 0 0 / 20%), 0 16px 0 -6px #f6f6f6,
    0 17px 2px -6px rgb(0 0 0 / 20%);
    /* display:none; */
}

.text {
  background-color: white;
}
.strike {
  text-decoration: line-through;
  
}
#all a,
#active a,
#completed a,
#clear a {
  border-style: none;
  font-size: 1rem;
}
.check {
  height: 25px;
  width: 30px;
  border: 1px solid rgb(7, 7, 7);
  border-radius: 20%;
  margin-right: 15px;
  background-color:white;
  cursor:pointer;
  /* color:green; */
  
}
.Del{
  color:red;
  font-weight:bolder;
  font-size: larger;
  border:none;
  cursor:pointer;
  background-color: white;
  
}
.list-content{
  display:flex;
  width:500px;
  margin:auto; 
}
.inner-content{
  justify-content: space-between;
  display: flex;
}
input[type="checkbox"]
{
  color:green;
}
.li{
  display:flex;
  justify-content: space-between;
}
.update{
  padding:8px;
  cursor: pointer;
  border-radius:20px;
  border:1px solid #f97a74;
  color:white;
  background-color: #f97a74;

}

.tick{
color:rgb(20, 244, 20);
background-color:rgb(255, 255, 255);
border: 1px solid rgb(7, 7, 7);
border-radius: 20%;
width:22px;
height:25px;
}
input[type="text"]
{
  border:none;
  background-color: white;
}


